@charset "utf-8";
/*========================================
Version：1.0 Date：2014/11/30
Compatible Kernel：WebKit、Blink
Author：Radom
========================================*/
*{-webkit-tap-highlight-color:rgba(0,0,0,0);}
html,body,h1,h2,h3,h4,h5,h6,p,br,form,input,button,textarea,select,fieldset,legend,blockquote,ul,ol,li,dl,dt,dd,pre,table,caption,tr,td,th,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video, button,select,textarea,input{margin:0;padding:0; font:.12rem/.14rem 'Microsoft Yahei',"Arial";}
html,body{font-family:"Arial","Microsoft"; color:#242424;}
h1,h2,h3,h4,h5,h6{font-weight:normal;}
button,select,textarea,input{vertical-align:middle;}
a,a:hover{text-decoration:none; color:#242424;}
ul,ol,li{list-style:none;}
img,fieldset{border:0;}
img{width:100%;}
address,cite,code,em,var,abbr,acronym,dfn{font-style:normal}
i{display:inline-block; font-style:normal;}
img{vertical-align:top;}
button{border:none;}
mark{background:#ff0;}
div,p,li,pre{word-wrap:break-word;}
input{border:none;}
input[type=text],input[type=password],input[type=email],input[type=search],textarea{border:none;background:none;-webkit-appearance:none;appearance:none;}
input[type=text]:focus,input[type=password]:focus,input[type=email]:focus,input[type=search]:focus,textarea:focus{color:#353535;}
table{border-collapse:collapse;border-spacing:0;}
article,aside,section,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,summary,audio,video{display:block;}
.d-box{display:-ms-flexbox;display:-webkit-box;display:-webkit-flex;display:flex;}
.b-flex{-ms-flex:1;-webkit-box-flex:1;-webkit-flex:1;flex:1;}
.clearfix{zoom:1;}
.clearfix:after{content:"."; display:block; height:0; clear:both; visibility:hidden;}
.noLine{border:none !important;}

.d-box{display:-ms-flexbox;display:-webkit-box;display:-webkit-flex;display:flex;}
.b-flex{-ms-flex:1;-webkit-box-flex:1;-webkit-flex:1;flex:1;}

.noLine{border:none !important;}

.mt-24{margin-top:.24rem !important;}
.mt-58{margin-top:.58rem !important;}
.mt-78{margin-top:.78rem !important;}

.header{position:fixed; left:0; top:0; width:100%; z-index:10;}
.headerBg{height:.49rem; line-height:.49rem;}
.header-left{position:absolute; left:.11rem; top:.13rem; z-index:1;}
.header-left img{width:.14rem;}
.header-right{position:absolute; right:.16rem; top:.13rem; z-index:1;}
.header-right img{width:.23rem;}
.header h1{position:absolute; left:0; top:0;height:.49rem; line-height:.49rem; color:#fff; font-size:.17rem; text-align:center; width:100%;}

.main{padding-bottom:.92rem;}

.userHeader{height:2.03rem; background-color:#5b4077; text-align:center; position:relative;}
.userHeader-img{width:.81rem; height:.81rem; border:2px solid #fff; -webkit-border-radius: 100%; margin-top:.50rem;}
.userHeader-ico{position:absolute; left:50%; top:1.23rem; background-color:#27f422; width:.16rem; height:.17rem; -webkit-border-radius: 100%; border:2px solid #fff; margin-left:-.1rem;}
.userHeader-name{color:#fff; font-size:.15rem; margin-top:.15rem;}
.userHeader-level{background-color:#4f366d; height:.20rem; line-height:.20rem; -webkit-border-radius: .15rem; padding:0 .16rem; color:#fff; margin-top:.08rem; display:inline-block;}

.userBalance01, .userBalance02, .userBalance03{height:.58rem; color:#fff; text-align:center;}
.userBalance01 span, .userBalance02 span, .userBalance03 span{font-size:.17rem; display:block; line-height:.20rem; margin-top:.08rem;}
.userBalance01 p, .userBalance02 p, .userBalance03 p{font-size:.16rem; line-height:.20rem;}
.userBalance01{background-color:#6f578b;}
.userBalance02{background-color:#654d81;}
.userBalance03{background-color:#4f366d;}

.menu{position:fixed; left:0; bottom:0; width:100%; z-index:10; background-color:#523d6d; height:.62rem; text-align:center;}
.menu a{display:block; color:#fff; padding-top:.11rem; height:.72rem;}
.menu .focus a p{color:#ff5a5a;}
.menu img{width:.22rem; height:.22rem;}
.menu p{margin-top:.08rem; font-size:.15rem; color:#9389a1;}

.userContent{padding:0 .23rem;}
.userContent .titleH2{font-size:.18rem; color:#272727; margin-top:.15rem; line-height:.20rem;}
.titleH2-info{color:#a2a2a2; line-height:.20rem;}
.userContent-no{height:1.90rem; line-height:1.90rem; text-align:center; font-size:.16rem; color:#ff0000;}

.userBtn{position:fixed; left:0; bottom:.88rem; width:100%; height:.46rem;}
.userBtn a{position:absolute; width:1.2rem; height:.46rem; -webkit-border-radius: .15rem; display:inline-block; background-color:rgba(0,0,0,0.8); color:#fff; text-align:center; line-height:.46rem; font-size:.18rem;}
.userBtn-left{left:.46rem; top:0;}
.userBtn-right{right:.45rem; top:0;}
.userBtn-center{right:1.6rem; top:0;}

.windowNoWithdraw{position:absolute; left:50%; top:50%; width:2.14rem; height:1.25rem; line-height:1.25rem; text-align:center; background-color:rgba(39,16,66,0.9); margin:-.625rem 0 0 -1.07rem; color:#fff; font-size:.16rem; -webkit-border-radius: .15rem;}
.windowNoWithdraw img{width:.31rem; height:.31rem; vertical-align:middle; margin-right:.11rem;}

.userList{border-left:1px solid #e5e5e5; margin:.20rem 0 0 .09rem; padding-left:.09rem;float: left;width:1.6rem;}
.userList li{line-height:.28rem; color:#797979; font-size:.16rem;}

.userAll{background-color:#4f366d; height:2.04rem;}
.userAll h2{text-align:center; font-size:.18rem; color:#fff; padding-top:.22rem; line-height:.20rem;}
.userAllMoney{display:block; text-align:center; color:#fff; font-size:.41rem; line-height:.40rem; margin-top:.22rem;}
.userAll-bottom{color:#fff; text-align:center; font-size:.31rem; margin-top:.16rem;}
.userAll-bottom span{line-height:.26rem; font-size:.31rem; display:block;}
.userAll-bottom p{font-size:.16rem; line-height:.30rem; margin-top:.05rem;}
.userAll-bottom div{padding:.05rem 0;}
.userAll-bottom div:nth-child(2){border-left:1px solid #837198;}

.userContent-tips{text-align:center; margin-top:.30rem;}
.userContent-tips p{font-size:.15rem; color:#242424; line-height:.26rem;}
.withdrawInput{border:1px solid #efefef; margin:.50rem .17rem 0; height:.44rem; line-height:.44rem; color:#666; -webkit-border-radius: .1rem; padding:0 .10rem; position:relative;}
.withdrawInput .error{position:absolute; left:.1rem; top:10px; color:#ff0000; font-size:.16rem;}
.withdrawInput .input{width:100%; outline:none;font-size:25px;}
.withdrawInput .input::-webkit-input-placeholder {color: #e5e5e5;}
.withdrawInput-btn{margin:0 .17rem; height:.47rem; line-height:.47rem; background-color:#000; color:#fff; -webkit-border-radius: .1rem; text-align:center; font-size:.16rem; display:block;}
.withdrawInput-btn-bottom{text-align:center; margin-top:.08rem;}
.withdrawInput-btn-bottom a{color:#5b4077; font-size:.16rem;}

.withdrawBody{background-color:#f1f0f8;}
.withdrawBox{text-align:center;}
.withdrawBox h2{color:#5b4077; font-size:.18rem; line-height:.45rem;}
.withdrawBox-img{margin-top:.23rem;}
.withdrawBox-img img{width:1.09rem;}
.withdrawBox-p{margin-top:.37rem; text-align:center; color:#242424; font-size:.18rem;}
.withdrawBox-money{height:1.26rem; line-height:1.26rem; margin-top:.45rem; background-color:#fff; font-size:.16rem; color:#242424;}
.withdrawBox-money span{margin-left:.30rem;}

.withdrawTable{padding:0 .30rem;}
.withdrawTable h3{color:#4f366d; font-size:.18rem; padding-top:.55rem; font-weight:bold;}
.withdrawTable .table{border-collapse:collapse; table-layout:fixed; width:100%; margin-top:.35rem;}
.withdrawTable .table thead th{text-align:center; color:#242424; font-size:.14rem; height:.30rem;}
.withdrawTable .table tfoot td{color:#ff0000; font-size:.16rem; text-align:center; height:3.00rem;}
.withdrawTable .table tbody td{height:.28rem; text-align:center; color:#242424; font-size:.15rem;}

.customerService strong{display:block; text-align:center; font-size:.15rem; color:#242424; padding-top:.60rem;}
.customerService-time{text-align:center; color:#ff0000; font-size:.13rem; margin-top:.09rem;}
.customerService-time img{width:.15rem; height:.16rem; margin-right:.02rem;}
.customerService-title{text-align:center; display:block; font-size:.20rem; color:#242424; line-height:.20rem; margin-top:1.40rem;}
.customerService-tel{color:#242424; font-size:.22rem; text-align:center; margin-top:.10rem;}
.customerService-tel img{width:.24rem; height:.24rem; vertical-align:middle; margin-right:.05rem;}

.product{position:relative;}
.productAnchor{position:relative; top:-400px;}
.productPic{/*position:fixed;*/ left:0; top:0.0rem; width:100%; height:2.30rem; /*border-bottom:1px solid #d7d7d7;*/}
.productPic-info{/*position:absolute; */left:0; bottom:0; height:.46rem; line-height:.46rem; background-color:rgba(39,12,72,.7); font-size:.18rem; color:#fff; width:100%;}
.productPic-info strong{font-weight:normal; padding-left:.28rem;}
.productPic-info span{margin-left:.16rem;}
.productPic-btn{/*position:absolute;*/float:right; right:0; bottom:0; height:.46rem; line-height:.46rem; color:#fff; background-color:#d4020e; padding:0 .17rem; font-size:.14rem;}
/*.product-fixedTop{margin-top:2.43rem !important;}*/

.product-title{border-bottom:1px solid #ececec; height:.18rem; line-height:.18rem; font-size:.16rem; color:#523d6d; padding:.08rem 0 .08rem .25rem; margin-top:.46rem;}
.product-title img{width:.18rem; height:.18rem;}
.productCon{padding:0 .25rem; color:#242424; font-size:.15rem; line-height:.26rem;}
.productCon strong{font-weight:normal; font-size:.16rem;}
.productCon p{color:#242424; font-size:.15rem; line-height:.26rem; padding:0 .10rem 0 .30rem;}
.product-top{position:fixed; left:50%; bottom:.87rem; width:.35rem; margin-left:-.175rem; -webkit-animation: bounce-down 1.5s infinite;}
.product-top img{width:.35rem;}

#back{position:fixed; left:90%; bottom:.87rem; width:.35rem; margin-left:-.175rem;}
#back img{width:.35rem;}


@-webkit-keyframes bounce-down {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
	}
    50% {
        opacity: 1;
        -webkit-transform: translateY(0);
	}
    100% {
        opacity: 0;
        -webkit-transform: translateY(-5px);
	}
}

.tabTop{background-color:#5b4077; height:.45rem; line-height:.45rem;}
.tabTop a{display:block; text-align:center; color:#fff; font-size:.16rem;}
.tabTop a.focus{color:#ff5a5a;}
.tabTop a:nth-child(2){border-left:1px solid #8b789f;}
.tabTop img{width:.13rem; height:.14rem; margin:.15rem .04rem 0 0;}

.proxyList{}
.proxyList li{padding:.05rem .09rem .07rem .09rem; border-bottom:1px solid #dcdcdc; position:relative; min-height:2.01rem;}
.proxyList-img{position:absolute; left:.09rem; top:.05rem; width:1.60rem; height:2.01rem; border:1px solid #dcdcdc; display:inline-block;}
.proxyList-info{margin-left:1.95rem; min-height:2.01rem;}
.proxyList-info-strong{height:.19rem; line-height:.19rem; padding:0 .12rem; background-color:#000; color:#fff; font-size:.14rem; display:inline-block; -webkit-border-radius: .07rem; margin-top:.08rem;}
.proxyList-info-h2{color:#242424; font-size:.16rem; line-height:.20rem; margin-top:.03rem;}
.proxyList-info-num{color:#737373; font-size:.14rem; margin-top:.03rem;}
.proxyList-info-num img{width:.18rem; height:.14rem; margin-right:.04rem;}
.proxyList-infoBottom{position:absolute; right:.21rem; bottom:.05rem; text-align:right;}
.proxyList-infoBottom strong{font-size:.28rem; color:#5b4077; display:block; line-height:.30rem; margin-bottom:.05rem;}
.proxyList-infoBottom strong span{font-size:.16rem; font-weight:normal;}
.proxyList-infoBottom a{height:.35rem; line-height:.35rem; padding:0 .07rem; background-color:#5b4077; color:#fff; display:inline-block; -webkit-border-radius: .1rem; font-size:.15rem;}
.proxyBottom{height:1.03rem; line-height:1.03rem; text-align:center; color:#737373; font-size:.14rem;}

.ewm{background-color:#451b6e; padding-bottom:.30rem; position:relative;}
.ewmBg{width:100%;}
.ewmImg{position:absolute; left:1.35rem; top:2.06rem; width:1.46rem; height:1.46rem;}
.ewmHeader{position:absolute; left:1.64rem; top:0.8rem; width:.8rem; height:.8rem;border-radius:.1rem .1rem;}
.shoppingCart-addr{position:relative;}
.shoppingCart-addr h2{height:.59rem; line-height:.59rem; margin-top:.07rem; border-bottom:1px solid #c5c5c5; text-align:center; color:#242424; font-size:.22rem;}
.shoppingCart-addr-close{position:absolute; width:.33rem; height:.31rem; right:.18rem; top:.12rem;}
.shoppingCart-addr-form{padding:0 .25rem;}
.shoppingCart-addr-form li{border-bottom:1px solid #e2e2e2; height:.55rem; line-height:.55rem; position:relative;}
.shoppingCart-addr-form .label{position:absolute; left:0; top:0; color:#242424; font-size:.18rem;}
.shoppingCart-addr-form .input{margin-left:1.16rem; font-size:.18rem; color:#9c9c9c; outline:none; line-height:.20rem;}
.selectBox{margin-left:1.16rem; font-size:.18rem; color:#242424;}
.sel_wrap{position:relative; overflow:hidden; height:.55rem;}
.sel_wrap .select{width:300px;height:28px;z-index:4;position:absolute;top:0;left:0;margin:0;padding:0;opacity:0;cursor:pointer;}

.shoppingCart-tab{background-color:#5b4077; height:.47rem; line-height:.47rem; text-align:center; color:#fff; font-size:.16rem;}
.shoppingCart-tab div:nth-child(3){border-left:1px solid #8b789f;}
.shoppingCart-tab div:nth-child(2){border-left:1px solid #8b789f;}
.shoppingCart-tab a{color:#fff;}
.shoppingCart-tab .focus a{color:#ff5a5a;}

.shoppingCart-addr-add{height:1.85rem; line-height:1.85rem; text-align:center; color:#1867dd; font-size:.16rem; border-bottom:1px solid #c5c5c5;}
.shoppingCart-addr-add img, .shoppingCart-addr-add-p img{width:.12rem; height:.13rem; vertical-align:middle; margin-left:.04rem;}
.shoppingCart-addr-add-p{height:.36rem; line-height:.36rem; text-align:center; color:#1867dd; font-size:.16rem; border-bottom:1px solid #c5c5c5;}

.shoppingCart-list li{border-bottom:1px solid #e2e2e2; height:.84rem; padding:.15rem 0; position:relative; padding-left:.16rem;}
.shoppingCart-list-checkbox{float:left; margin-top:.31rem;}
.shoppingCart-list-img{width:.78rem; height:.78rem; margin-left:.16rem; border:1px solid #ebebeb; padding:2px; float:left;}
.shoppingCart-list-info{float:left; margin-left:.06rem;}
.shoppingCart-list-info strong{color:#523d6d; font-size:.14rem; display:block; line-height:.20rem;}
.shoppingCart-list-info span{height:.18rem; line-height:.18rem; display:inline-block; background-color:#000; -webkit-border-radius: .07rem; padding:0 .11rem; color:#fff; margin-top:.08rem;}
.shoppingCart-list-info p{font-size:.15rem; color:#242424; line-height:.20rem; margin-top:.05rem;}
.shoppingCart-list-num{float:right; padding-right:.25rem;  padding-top:.28rem; line-height:.24rem; display:block;}
.shoppingCart-list-num img{width:.21rem; height:.22rem;}
.shoppingCart-list-num p{font-size:.14rem;}
.shoppingCart-list-num span{display:block; font-size:.14rem; margin-top:.05rem;}
.shoppingCart-list-num strong{position:absolute; right:.25rem; top:.13rem; color:#523d6d; font-size:.14rem;}
.shoppingCart-list-del{position:absolute; right:.26rem; bottom:.19rem;color:blue;font-size:.15rem;}
.shoppingCart-list-p{border-bottom:1px solid #e2e2e2; height:.29rem; line-height:.29rem; font-size:.14rem;}
.shoppingCart-list-p span:nth-child(1){display:block; padding-left:.17rem;}
.shoppingCart-list-p span:nth-child(2){display:block; padding-right:.23rem; text-align:right;}

.shoppingCart-list-add{}
.shoppingCart-list-add-li{border-bottom:1px solid #e2e2e2; padding:.15rem 0; position:relative; padding-left:.16rem;}
.shoppingCart-list-add img{width:.19rem; height:.19rem; vertical-align:middle; float:left;}
.shoppingCart-list-add-li ul{float:left; margin-left:.16rem; width:3.24rem;}
.shoppingCart-list-add-li li{line-height:.20rem; margin:.05rem 0; font-size:.15rem; position:relative; zoom:1; line-height:.24rem;}
.shoppingCart-list-add-li li em{float:left; width:2.15rem;}
.shoppingCart-list-add-li li span{display:inline-block; width:.80rem; margin-left:.06rem; text-align:left; float:left;}

.noticeInfo{padding:0 .29rem; font-size:.15rem; color:#303030; line-height:.24rem; margin-top:.05rem;}
.noticeInfo-btn{text-align:right; padding:0 .29rem; margin-bottom:.20rem;}
.noticeInfo-btn a{width:1.03rem; height:.35rem; color:#fff; background-color:#5b4077; -webkit-border-radius: .07rem; text-align:center; line-height:.35rem; display:inline-block;}
.noticeInfo-title{width:2.30rem; margin:.10rem auto 0; font-size:.20rem; line-height:.28rem; text-align:center;}
.noticeCon{padding:0 .40rem; color:#8b8b8b; font-size:.14rem; line-height:.26rem; margin-top:.15rem;}

.shoppingCart-list-no{text-align:center; margin-top:1.00rem;}
.shoppingCart-list-no img{width:.66rem; height:.66rem;}
.shoppingCart-list-no h2{font-size:.22rem; line-height:.22rem; display:block; margin-top:.12rem;}
.shoppingCart-list-no a{color:#1867dd; font-size:.16rem; line-height:.20rem; margin-top:.10rem; display:block;}

.proxyBg{position:relative; zoom:1;}
.proxyBg img{ min-height:7.25rem;}

.proxyBgList-btn{position:absolute; left:50%; top:.13rem; margin-left:-1.55rem;}
.proxyBgList-btn li{margin-top:.35rem;}
.proxyBgList-btn a{width:3.10rem; height:.85rem; line-height:.85rem; text-align:center; display:inline-block; color:#441661; font-size:.20rem; -webkit-border-radius: .50rem;}
.proxyBgList-btn li:nth-child(1) a{background-color:#ffeca2;}
.proxyBgList-btn li:nth-child(2) a{background-color:#eee;}
.proxyBgList-btn li:nth-child(3) a{background-color:#ebc1f6;}

.list{}
.list li{padding:.12rem .12rem .36rem; border-bottom:1px solid #ebebeb; position:relative;}
.list h2{font-size:.198rem; color:#000; line-height:.20rem; margin-top:.10rem;}
.list-img{width:.20rem; margin-right:5px;}
.list-p{margin-top:10px;}
.list-strong{font-size:.26rem; color:#5b4077; font-weight:normal; display:block; line-height:.26rem; margin-top:.18rem;}
.list-strong span{font-size:.14rem;}
.list .btn{position:absolute; right:.12rem; bottom:.24rem; width:.86rem; height:.36rem; text-align:center; line-height:.36rem; color:#fff; font-size:.15rem; background-color:#5b4077; -webkit-border-radius: .07rem; display:inline-block;}


.no-bg{display: none; position: fixed;left:0;top:0;width: 100%; height: 100%; background-color: black; z-index:1001; opacity:.70;}
.no-bg img{width: .3rem;margin: 60% 45%;}

.model{display:none;position: fixed;left: 0rem;top: 0rem;background-color: #000000;opacity: .9;z-index: 1003;width: 100%;height: 100%;}
.model-conetnt{position: relative;left: 8%;top: 30%;background-color: rgb(207,88,46);width: 3.5rem;height: 2.6rem;border-radius: .1rem;}
.comment-header{color:#FFFFFF;text-align: center;font-size: .2rem;padding-top: .2rem;}
.cancel{position: relative;top: -.45rem;left: 3.15rem;background-image: url(../pub/cancel.png);background-repeat: no-repeat;width: .4rem;height: .4rem;background-size: .4rem;}
.sub-comment{text-align: center;padding-top: .2rem;}
.sub-comment button{display: inline-block;padding: .1rem .12rem;text-align: center;color: #FFFFFF;border-radius: .07rem;background-color: rgb(226,192,70);box-shadow: 0rem .05rem .01rem rgb(226,192,70);font-size: .17rem;font-weight:500;color: #000000;width: 1.2rem;}
.textarea{text-align: center;}
.textarea textarea{background-color: #FFFFFF;resize: none;border-radius: .1rem;font-size: .2rem;padding: .05rem .05rem;}


.mer-welcome{
    text-align: center;
    font-size: .3rem;
}
.coupon-list p{
	text-align: left;
	margin: .2rem auto;margin-left: .2rem;
	font-size: .2rem;
}
.coupon-status{
    position: relative;
    float: left;
    top: -1.6rem;
    left: 3rem;
}
.coupon-list li{
	margin-bottom: .2rem;
    border-radius: 0rem .5rem .5rem 0rem;
    color: #ffffff;
    padding: .1rem;
    background-color: rgba(82,61,109,0.8);
}
.code-title{
	text-align: center;
	font-size: .2rem;
	margin: .3rem auto;
	color: #c5c5c5;
}

.tel-btn-img{
  -webkit-border-radius:.5rem;left: 0.76rem;position: absolute;top: 5rem;width: 2.5rem;
}
@media screen and (min-width: 450px) {
    .ewmImg{
      top:4.26rem;
      left:2.84rem;
    }
    .userBtn-center{
      right:3.4rem;
    }
    .tel-btn-img{
      left:2.36rem;
      top:8.7rem;
    }
    .product-title{
      margin-top:1.46rem;
    }
}
.lw-bg{background-image: url(../pub/lw-bg.jpg);background-repeat: no-repeat;background-size: 4.15rem;background-color: rgb(224,0,3);}
.check-bg{background-image: url(../pub/check-bg.jpg);background-repeat: no-repeat;background-size: 4.15rem;background-color: rgb(224,0,3);}
.index-bg{background-image: url(../pub/index-bg.jpg);background-repeat: no-repeat;background-size: 4.15rem;background-color: rgb(224,0,3);}
.explain-bg{background-image: url(../pub/explain-bg.jpg);background-repeat: no-repeat;background-size: 4.15rem;background-color: rgb(224,0,3);}
.reward-bg{background-image: url(../pub/reward-bg.jpg);background-repeat: no-repeat;background-size: 4.15rem;background-color: rgb(224,0,3);}
.rank-bg{background-image: url(../pub/rank-bg.jpg);background-repeat: no-repeat;background-size: 4.15rem;background-color: rgb(224,0,3);}
.home-bg{background-image: url(../pub/home-bg.jpg);background-repeat: no-repeat;background-size: 4.15rem;background-color: rgb(224,0,3);}
.my-bg{background-image: url(../pub/my-bg.png);background-repeat: no-repeat;background-size: 4.15rem;background-color: #fff;}
.btn-send{background-image: url('../pub/btn-send.png');width: 1.6rem;background-repeat: no-repeat;background-size: 1.5rem;display: inline-block;height: 1.48rem;}
.btn-send1{background-image: url('../pub/btn-send1.png');width: 1.4rem;background-repeat: no-repeat;background-size: 1.5rem;display: inline-block;height: 0.32rem;border-radius: .1rem;margin: .1rem;}
.btn-send2{background-image: url('../pub/btn-send2.png');width: 1.4rem;background-repeat: no-repeat;background-size: 1.5rem;display: inline-block;height: 0.32rem;border-radius: .1rem;margin: .1rem;}
.btn-send3{background-image: url('../pub/btn-send3.png');width: 1.4rem;background-repeat: no-repeat;background-size: 1.5rem;display: inline-block;height: 0.32rem;border-radius: .1rem;margin: .1rem;}

.btn-send56{background-image: url('../pub/1.5.2.gif');width: 1.5rem;background-repeat: no-repeat;background-size: 1.5rem;display: inline-block;height: 0.4rem;border-radius: .4rem;margin: .1rem;padding-left: .2rem;}

.btn-send4{background-image: url('../pub/btn-send4.png');width: 1.4rem;background-repeat: no-repeat;background-size: 1.5rem;display: inline-block;height: 0.32rem;border-radius: .1rem;margin: .1rem;}
.btn-back{background-image: url('../pub/btn-back.png');width: 1.4rem;background-repeat: no-repeat;background-size: 1.5rem;display: inline-block;height: 0.32rem;border-radius: .1rem;margin: .1rem;}
.btn-come{background-image: url('../pub/btn-come.png');width: 1.4rem;background-repeat: no-repeat;background-size: 1.5rem;display: inline-block;height: 0.32rem;border-radius: .1rem;margin: .1rem;}
.btn-find{background-image: url('../pub/btn-find.png');width: 1.4rem;background-repeat: no-repeat;background-size: 1.5rem;display: inline-block;height: 0.32rem;border-radius: .1rem;margin: .1rem;}
.btn-help{background-image: url('../pub/btn-help.png');width: 1.4rem;background-repeat: no-repeat;background-size: 1.5rem;display: inline-block;height: 0.32rem;border-radius: .1rem;margin: .1rem;}
.btn-reward{background-image: url('../pub/btn-reward.png');width: 1.4rem;background-repeat: no-repeat;background-size: 1.5rem;display: inline-block;height: 0.32rem;border-radius: .1rem;margin: .1rem;}
.user-info{margin-top: 1.7rem;text-align: center;}
.user-head img{width: 1rem;border-radius:0.865rem;}
.my-amount{padding: .1rem;font-weight: 600;font-size: .3rem;color: rgb(0,140,153);}
.ad-title{text-align: center;padding: .2rem}
.ad-title img{width: 3.3rem;}
.color-block{padding-top: .2rem;
    text-align: center;
    background-color: rgb(242,242,242);
    height: .3rem;
    margin: .1rem;
    font-size: .2rem;
    color: #c64040;}
.lists-amount{list-style: none;float: left;}
.lists-amount li{
	width: 4.1rem;
    height: 1rem;
    border-bottom: 1px solid #c4c3c3;
    margin-top: .1rem;
}
.list-fen{
  position: relative;
  float: right;
  margin-right: .2rem;
  background-size: 0.5rem;
  display: inline-block;
  height: 100%;
  width: .5rem;
  background-image: url(../pub/list-fen-bg.png);
  background-repeat: no-repeat;
  text-align: center;
  font-size: .1rem;
  color: #fff;
  top: -.65rem;
}
.list-fen-rank{
    background-size: 0.5rem;
    display: inline-block;
    height: 100%;
    width: .5rem;
    background-image: url(../pub/list-fen-bg.png);
    background-repeat: no-repeat;
    text-align: center;
    font-size: .1rem;
    color: #fff;
}
.list-rank{
    margin-left: .1rem;
    position: relative;
    top: -.15rem;
    background-size: 0.5rem;
    display: inline-block;
    height: 100%;
    width: .5rem;
    background-image: url(../pub/list-rank-bg.png);
    background-repeat: no-repeat;
    text-align: center;
    font-size: .3rem;
    font-weight: bold;
    padding-top: .2rem;
    color: red;
}
.lists-user-head{padding-left: .5rem;float: left;}
.lists-detail{float: left;margin-left: .3rem;margin-top: .1rem;margin-right: .5rem;}
.lists-detail p{padding-top: .1rem;}
.lists-user-head img{width: .7rem;border-radius:0.865rem;height: .7rem;}
.lists-amount{color: #c64040;font-size: 0.2rem;float: left;padding-top: .2rem;}
